# Projects Metashape lourds à ignorer
*/**/*.psx
*/**/*.files/
*/**/*.tif
*/**/photos/
*/**/photo/
*/**/images_converted*/
*/**/images_converted_croped*/

# Drone GCP / Paris / Matrice
TP/TP1 Paris/TP_Paris.files/
TP/TP2 Drone GCP/photo/
TP/TP2 Drone GCP/output/TP_24_10.files/
TP/TP3 Matrice/TP3.files/

# Très gros raster
Ortho_*.tif
