# ===== BIG DATA / OUTPUTS (global) =====
**/data/raw/
**/data/processed/
**/data/results/
**/*.tif
**/*.tiff
**/*.avi
**/*.mp4
**/*.mov
**/*.zip
**/*.7z
**/*.rar

# Metashape / photogrammetry heavy
**/*.psx
**/*.files/
**/*.oc3

# Images lourdes (optionnel : garde seulement figures/screen)
# Si tu veux garder les captures/figures, commente ces 2 lignes
# **/*.jpg
# **/*.png

# ===== 3D heavy folders (tu peux garder que les TP "code/rapport") =====
3d/Projet Final/
3d/Projet V1/
3d/photo/

desktop.ini
